<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="topline">
        <div>
            <h2>Welcome to my Website</h2>
        </div>
        <div class="dropdown">
            <button>Links</button>
                <div class="content">
                    <a href="http://localhost:5050">Home</a>
                    <a href="http://localhost:5050/about">About</a>
                    <a href="http://localhost:5050/contact">Projects</a>
            </div>
        </div>
    </div>
    <div class="container">
        <H1>Welcome to the About page</H1>
        <div class="header">
            <p>Welcome to my website I used HTML and CSS to make this, I made a uniform format and a dropdown menu to navigate</p>
        </div>
    </div>
</body>
</html>