<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="topline">
            <div>
                <h2>Welcome to my Website</h2>
            </div>
            <div class="dropdown">
                <button>Links</button>
                    <div class="content">
                        <a href="http://localhost:5050">Home</a>
                        <a href="http://localhost:5050/about">About</a>
                        <a href="http://localhost:5050/contact">Contact</a>
                </div>
            </div>
        </div>
        <div class="container">
            <H1>Welcome to the Contact page</H1>
            <div class="header">
                <div class="aboutme">
                    <p>My name is Benjamin Eren, I am 28 and working towards studying various skills in technology and enjoy mainly software engineering</p>
                    <p>I want to become a backend developer, but I am also interested in studying data skills and wouldn't mind going into data engineering or data analytics.</p>
                    <a href="https://github.com/beneren10">Here is a link to my GitHub</a>
                    <a href="https://github.com/beneren10">Here is a link to my LinkdIn</a>
                </div>
                
            </div>
        </div>
    </body>
    </html></head>
<body>
    
</body>
</html>