<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div class="topline">
            <div>
                <h2>Welcome to my Website</h2>
            </div>
            <div class="dropdown">
                <button>Links</button>
                <div class="content">
                    <a href="http://localhost:5050">Home</a>
                    <a href="http://localhost:5050/about">About</a>
                    <a href="http://localhost:5050/contact">Contact</a>
                </div>
            </div>
        </div>
    <div class="container">
        <H1>Welcome to the Home page</H1>
        <div class="header">
            <h3>This is a Kingfisher</h3>
            <img src="https://images.unsplash.com/photo-1486365227551-f3f90034a57c?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmlyZHxlbnwwfHwwfHx8MA%3D%3D">
            <p>This is a Kingfisher, its a rare bird in the UK which eats fish, insects and small amphibians, its mostly seen near rivers and has a blue coat, it sits very still by the water and waits for its prey.</p>

            <ul style="margin-top:-10px" class="bullets">
                <p style="text-decoration: underline; text-align: center;">Some stats</p>
                <li>There are 87 different species in the World but only Alcedo Athhis breeds in the Europe</li>
                <li>Most of the worlds Kingfishers don't eat fish and rarely go near water</li>
            </ul>
        </div>
    </div>
</body>
<script src="../script.js"></script>
</html>